.over-header {
    background-color: black;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.over-title {
    color: white;
    font-size: 1rem;
    margin: 0 15%;
    font-weight: 400;
}

.over-menu {
    display: flex;
    justify-content: space-around;
}

.over-link {
    color: white;
    font-size: 0.8rem;
    margin: 0 10px;
    text-decoration: none;
    font-weight: 400;
}

.main-header {
    height: 100px;
    background-color: #f0f0f0;
    display: flex;
    position: relative;
    border-right: 0.5px solid black;
    border-left: 0.5px solid black;
}

.main-title {
    position: absolute;
    top: 35px;
    left: 15%;
    color: black;
    font-size: 2.2rem;
    letter-spacing: 0.35rem;
}

.main-menu {
    margin: auto;
}

.main-link {
    color: black;
    font-size: 1.4rem;
    margin: 0 10px;
    text-decoration: none;
    letter-spacing: 0.05rem;
}

.main-search-form {
    position: absolute;
    right: 50px;
    top: 35px;
    display: flex;
}

.main-search {
    width: 200px;
    height: 30px;
    border-radius: 10px;
    border: none;
    text-align: center;
}

.main-search:focus {
    outline: none;
    border-color: transparent;
}

.main-search-button {
    width: 30px;
    height: 30px;
    background-image: url("../assets/search-square.svg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    margin-left: -30px;
}

.main-search-date {
    border: none;
    border-radius: 20px;
    text-align: center;
    margin-right: 5px;
    height: 30px;
}

@media (max-width: 1279px) {
    .main-search-form {
        left: 5%;
        top: auto;
        bottom: 20px;
    }
    .main-title {
        left: 5%;
    }
    .main-header {
        height: 200px;
    }
    .main-menu {
        margin: 100px 0 0 4%;
    }
}

@media (max-width: 800px) {
    .over-header {
        height: 70px;
    }
    .over-title {
        margin: 0 5%;
    }
}

@media (max-width: 550px) {
    .over-header {
        height: 100px;
    }
    .over-menu {
        flex-direction: column;
    }
    .over-link {
        margin: 3%;
    }
}