.footer {
    background-color: black;
    position: relative;
}

.footer-links {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    padding: 5%;
}

.footer-link {
    font-size: 1.2rem;
    color: white;
    text-decoration: none;
    margin: 10px;
}

.footer-title {
    color: white;
    font-size: 1.8rem;
    margin: 0 0 0 15%;
    padding-top: 4%;
}

.footer-link-up {
    position: absolute;
    color: white;
    font-size: 3.2rem;
    font-weight: 900;
    text-decoration: none;
    right: 3%;
    top: 0;
}