.news-block-title {
    display: inline-block;
    margin: 20px 0 10px 2%;
    font-size: 2rem;
    font-weight: 600;
    line-height: 2.2rem;
    letter-spacing: 0.2rem;
    color: black;
    padding-bottom: 20px;
    border-bottom: 1px solid black;
}

.news-block-container {
    display: flex;
    flex-wrap: wrap;
}

main {
    min-height: 600px;
}

.news-more-block {
    display: flex;
}

.news-more {
    margin: 30px auto;
    text-align: center;
    font-size: 1.1rem;
    font-weight: 600;
    line-height: 1.3rem;
    width: 200px;
    height: 30px;
    cursor: pointer;
    background-color: #f0f0f0;
    border: 0.3px solid black;
}

.news-more:hover {
    background-color: #c0c0c0;
    border: 0.6px solid black;
}

.news-more-text {
    margin: 30px auto;
    font-size: 1.1rem;
    font-weight: 600;
    line-height: 1.3rem;
}