.news-item {
    width: 28%;
    margin: 0 1%;
    padding: 1%;
    position: relative;
}

.news-item:nth-child(3n-1) {
    border-left: 1px solid black;
    border-right: 1px solid black;
}

.news-img {
    width: 300px;
}

.news-plus {
    position: absolute;
    top: 0;
    right: 10px;
    width: 50px;
    height: 50px;
    transition: all 0.6s ease;
}

.news-plus:hover {
    width: 53px;
    height: 53px;
    cursor: pointer;
}