.news-item {
    width: 28%;
    padding: 3% 2%;
    position: relative;
    border-bottom: 1px solid black;
}

.news-item:nth-child(3n-1) {
    background-color: #f0f0f0;
}

.news-img {
    width: 300px;
    margin: 10px 0;
}

.news-plus {
    position: absolute;
    top: 20px;
    right: 20px;
    width: 50px;
    height: 50px;
    transition: all 0.6s ease;
}

.news-plus:hover {
    width: 53px;
    height: 53px;
    cursor: pointer;
}

.news-category {
    text-decoration: none;
    margin-right: 15px;
    font-size: 1.2rem;
    font-weight: 600;
    line-height: 1rem;
    color: black;
}

.news-published {
    margin: 5px 0;
    font-size: 0.8rem;
    font-weight: 600;
    line-height: 0.9rem;
}

.news-author {
    margin-bottom: 10px;
    font-size: 1.1rem;
    font-weight: 900;
    line-height: 1.3rem;
}

.news-title {
    margin-bottom: 10px;
    font-size: 1.4rem;
    font-weight: 900;
    line-height: 1.6rem;
    padding-bottom: 10px;
    border-bottom: 1px solid black;
}

.news-description {
    margin-bottom: 5px;
    font-size: 1.1rem;
    font-weight: 600;
    line-height: 1.3rem;
}

.news-link {
    display: inline-block;
    text-decoration: none;
    color: black;
    margin: 20px 0;
    font-size: 1.1rem;
    font-weight: 600;
    line-height: 1.3rem;
    padding: 5px;
    border: 1px solid black;
    box-shadow: 1px -1px black;
}

.news-share {
    position: absolute;
    bottom: 20px;
    right: 25px;
    display: flex;
    gap: 3px;
}

@media (max-width: 1280px) {
    .news-item {
        width: 42%;
        padding: 3% 4%;
        position: relative;
        border-bottom: 1px solid black;
    }
    .news-item:nth-child(3n-1) {
        background-color: white;
    }
    .news-item:nth-child(2n) {
        background-color: #f0f0f0;
    }
}

@media (max-width: 768px) {
    .news-item {
        width: 92%;
        padding: 3% 4%;
        position: relative;
        border-bottom: 1px solid black;
    }
    .news-item {
        background-color: #f0f0f0;
    }
    .news-item:nth-child(3n-1) {
        background-color: #f0f0f0;
    }
}

@media (max-width: 400px) {
    .news-img {
        margin-top: 70px;
    }
}